*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}
.header{
    background-color: #21222A;
    display: flex;
    align-items: center;
    justify-self: space-between;
    padding:20px;
}
img{
    width:80px;
   
}
.project{
    color:#FFFFFF;
    /* margin-left:40px; */
}
.facts{
    color:#61DAFB;
    padding:20px
}

.body{
    background-color:#282D35;
    width: 550px;
    height: 550px;
    position: absolute;
    left: 50%;
    transform:translate(-50%);
  
}
.fun{
    color:#FFFFFF;
    font-size: 40px;
    padding-top:20px ;
    padding-left:20px ;
    padding-bottom:20px ;
}
ul{
    color:#FFFFFF;
    padding-top:20px ;
    padding-left:20px ;
    padding-bottom:20px ;  
    list-style: none;
    font-size: 16px;
}
ul li::before{
color: #61DAFB;
content: "\2022";
  font-weight: bold; 
  padding: 9px;
  display: inline-block;
  font-size: 1.3em;
}
